@use "./variables";

html{
    font-size: 125%;
}

.wrapper{
    width: 85%;
    margin: 0 auto;
}

header ul{
    list-style-type: none;
    li a{
        text-decoration: none;
    }
}

// .a-button{}