// HEIGHT

@media (max-height: 850px){
    .home-techniques{
        padding-top: 15%;
    }
}

@media (max-height: 550px){
    // HOME
    .home-techniques{
        padding-top: 35%;
    
        // OVERFLOW IMG
        .home-overflow-image-container{
            img{
                top: 65%;
            }
        }
    }

    .home-discover{
        .discover-top{
            .home-top-right{
                margin-top: 0;
                h3{
                    margin-top: 0;
                }
                .buttons{
                    width: 35%;
                }
            }
        }

        .discover-bottom{
            .home-bottom-left{
                .buttons{
                    margin-left: 65%;
                    width: 35%;
                }
            }
            .home-bottom-right{
                img{
                    margin-bottom: -70%;
                }
            }
        }
    }

    // CONTACT
    .form-containers{
        margin-top: -10%;
    }
}


// WIDTH
@media (max-width: 1500px){
    // HOME
    .home-discover{

        .discover-text-container{
            .buttons{
                width: 35%;
            }
        }

        .discover-top{
            .home-top-right{
                h3{
                    margin-top: -15%;
                }
            }
        }

        .discover-bottom{
            .home-bottom-left .buttons{
                margin-left: 65%;
            }

            // .home-bottom-right img{
            //     margin-bottom: -20%;
            // }
        }
    }
}


@media (max-width: 1300px){
    //HOME
    .home-about h2{
        text-align: center;
    }

    .home-discover{
        .home-bottom-right img{
            margin-top: 20%;
        }
    }
}


@media (max-width: 1200px){
    .nav-bar ul{
        margin-right: 10%;
        li{
            margin-right: 10%;
        }
    }
}

@media (max-width: 1100px){
    // HOME
    .home-discover{
        .home-bottom-right img{
            margin-top: 40%;
        }
    }

    // BLOG
    main{
        .blog-left-right{
            .blog-right{
                width: 30%;
            }
        }
    }
}

@media (max-width: 1000px){

    // HOME
    .home-techniques{
        padding-top: 20%;
    }

    .home-discover{
        .home-top-right p,
        .home-top-right h3{
            margin: 1%;
        }
        .home-bottom-left p,
        .home-bottom-left h3{
            margin: 1%;
        }
    }


    // BLOG
    main .blog-left-right{
        flex-direction: column;
        .blog-right{
            position: relative;
            width: 100%;
            margin: 20% 0;
            // top: 160%;
        }
        .blog-left{
            width: 100%;
        }
    }

    // CONTACT
    .content-container{
        flex-direction: column;
        align-items: center;

        .form-container{
            width: 100%;
        }

        .extra-info{
            .extra-info-top{
                ul{
                    justify-content: center;
                }
                p{
                    text-align: center;
                }
            }
            .extra-info-bottom{
                text-align: center;
            }
        }
    }
}

@media (max-width: 950px){
    // HOME
    .home-techniques .a-button{
        width: 40%;
    }

    .home-discover{
        .discover-text-container .buttons{
            width: 50%;
        }
        .discover-bottom .home-bottom-left{
            .buttons{
                margin-left: 50%;   
            }
        }
    }

    .home-search{
        .buttons{
            width: 40%;
        }
    }
}


@media (max-width: 900px){
    // NAV
    .nav-bar ul{
        margin-right: 20%;
    }

    // HOME
    .home-techniques .a-button{
        width: 55%;
        padding: 2% 0;
    }


    .home-gallery .home-gallery-container{
        flex-direction: column;
        .home-gallery-image-container{
            width: calc(100% - 2%);
            padding: 5% 0;
        }
    }

    .home-light-blue{
        .item{
            width: 100%;
            padding: 5% 0;
        }

        .home-about h2{
            text-align: left;
        }
    
        .items-1-2,
        .items-3-4{
            flex-direction: column;
        }
    }

    .home-overflow-image-container{
        img{
            width: 95%;
        }
    }

    .home-techniques .techniques-container{
        .techniques-content{
            width: 50%;
        }
        .techniques-image-container{
            width: 45%;
        }
    }
}

@media (max-width: 850px){
    // HOME 
    .home-techniques{
        padding-top: 15%;
    }
}

@media (max-width: 700px){
    // NAV
    .nav-bar ul{
        margin-right: 35%;
    }

    // h1
    .home-header{
        h1{
            width: 65%;
        }
    }

    // HOME
    .home-techniques{
        .home-overflow-image-container{
            img{
                top: 60%;
            }
        }
    }

    .home-discover{
        .discover-top,
        .discover-bottom{
            flex-direction: column;
            justify-content: center;
            .discover-image-container,
            .discover-text-container{
                width: 100%;
            }
            .home-top-right{
                margin-top: 25%;
            }
            .home-bottom-right{
                margin-top: -25%;
            }
        }
    }
}

@media (max-width: 600px){
// NAV
    header{
        .nav-bar{
            flex-direction: column;
            text-align: center;
            .logo{
                margin: 0 auto;
                padding: 10% 0;
                text-align: center;
            }
            .nav-text-container{
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;
                text-align: center;
                li{
                    text-align: center;
                    padding: 5% 0;
                }
            }
        }

        h1.home-heading{
            width: 100%;
        }
    }

    // HOME
    .home-techniques{
        .home-overflow-image-container{
            img{
                top: 65%;
            }
        }

        .techniques-container{
            flex-direction: column;
            .techniques-content,
            .techniques-image-container{
                width: 100%;
            }
            .techniques-content{
                margin-bottom: 15%;
            }
        }
    }

    .home-search{
        .buttons{
            padding: 5% 0;
        }
    }

    // BLOG
    .comment-form{
        .blog-comment-top-row{
            flex-direction: column;
            input{
                width: 100%;
                margin-bottom: 5%;
            }
        }
    }


    // CONTACT
    .form-container{
        .contact-form-top-row{
            flex-direction: column;
            input{
                width: 100%;
                margin-bottom: 5%;
            }
        }
    }
}

@media (max-width: 550px){
    // HOME
    .home-light-blue .item{
        h2{
            text-align: center;
        }
    }
}

@media (max-width: 550px){
    // HOME
    .home-techniques{
        .home-overflow-image-container{
            img{
                top: 70%;
            }
        }
    }

    // BLOG
    .blog-left{
        .comments{
            .comment-1,
            .comment-2{
                flex-direction: column;
            }
        }
    }
}

@media(max-width: 500px){
        // HOME
        .home-techniques{
            .home-overflow-image-container{
                img{
                    top: 73%;
                }
            }
        }
}

@media(max-width: 430px){
    // HOME
    .home-techniques{
        .home-overflow-image-container{
            img{
                top: 75%;
            }
        }
    }
}

@media(max-width: 400px){
    // HOME
    .home-techniques{
        .home-overflow-image-container{
            img{
                top: 77%;
            }
        }
    }
}

@media(max-width: 365px){
    // HOME
    .home-techniques{
        .home-overflow-image-container{
            img{
                top: 80%;
            }
        }
    }
}