// Colours:

    // Dark Slate Blue:
    $dark-slate-blue: #1A315C;

    // Black:
    $black: #1E1713;

    // Turquoise:
    $turquoise: #0CADC0;

    // Light Sky Blue:
    $light-sky-blue: #CCEDFB;

    // Black Two:
    $black-two: #161515;

    // White:
    $white: #FFFFFF;

    $dark-green: #21404F;

// Fonts:

    // Primary font:
    $primary-font: 'Pacifico';

    // Secondary font:
    $secondary-font: 'Lato';