html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Pacifico", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
  font-weight: normal;
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
  font-weight: normal;
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
  font-weight: bold;
}
.header-heading {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 3.4rem;
  line-height: 64px;
  color: #1A315C;
}

.home-heading {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 2.9rem;
  line-height: 64px;
  color: #1A315C;
}

.sub-heading {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 2.15rem;
  line-height: 58px;
  letter-spacing: 2.7px;
  color: #1A315C;
}

.comments-heading {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 4.3px;
}

.white-heading {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 2rem;
  line-height: 58px;
  letter-spacing: 2.5px;
}

.blog-side-headings {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 1.75rem;
  letter-spacing: 2.9px;
}

.logo {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 24px;
  letter-spacing: 1.7px;
  color: #1E1713;
}

.buttons {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 1.35rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1.4px;
  text-transform: lowercase;
}

.nav {
  font-family: "Lato";
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #1A315C;
}
.nav:visited {
  color: #1A315C;
}

.body-text {
  font-family: "Lato";
  font-weight: normal;
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 2px;
}

.date-text {
  font-family: "Lato";
  font-weight: bold;
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 2px;
}

.white-text {
  color: #FFFFFF;
}

.black-text {
  color: #1E1713;
}

.blue-text {
  color: #1A315C;
}

.light-blue-text {
  color: #CCEDFB;
}

html {
  font-size: 125%;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

ul,
header ul {
  list-style-type: none;
}
ul li a,
header ul li a {
  text-decoration: none;
}

.blog-body {
  background-color: #CCEDFB;
}

.a-button {
  border: 1px solid red;
  text-decoration: none;
  border: none;
  width: 25%;
  padding: 1% 5%;
}
.a-button p {
  margin: 0;
}
.a-button p:visited {
  text-decoration: none;
  border: none;
}

.buttons {
  text-decoration: none;
  border: none;
}
.buttons:visited {
  text-decoration: none;
  border: none;
}

footer {
  background-color: #1E1713;
  padding: 1% 0;
  text-align: center;
}
footer p {
  color: #FFFFFF;
}

header {
  background-size: cover;
  width: 100%;
}
header.home-header {
  background-image: url("../assets/header-home.jpg");
  height: 100vh;
  background-size: cover;
}
header.home-header h1 {
  width: 35%;
}
header.contact-header {
  background-image: url("../assets/contact-header.jpg");
  height: 77vh;
}
header.blog-header {
  background-image: url("../assets/blog-header.jpg");
  height: 75vh;
}
header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}
header .nav-bar ul .nav:hover,
header .nav-bar ul .nav:focus {
  border-bottom: 2px solid #0CADC0;
  padding-bottom: 5%;
}
header h1 {
  margin-top: 7%;
}

.home-techniques {
  background-color: #CCEDFB;
  padding: 10% 0 5% 0;
}
.home-techniques .home-overflow-image-container img {
  position: absolute;
  top: 45%;
}
.home-techniques .techniques-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home-techniques .techniques-container .techniques-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
}
.home-techniques .techniques-container .techniques-content h2 {
  margin: 0;
  text-align: left;
}
.home-techniques .techniques-container .techniques-content .a-button {
  border: none;
  background-color: #1A315C;
}
.home-techniques .techniques-container .techniques-image-container {
  width: 20%;
}
.home-techniques .techniques-container .techniques-image-container img {
  width: 100%;
  -webkit-box-shadow: -15px 20px #0CADC0;
          box-shadow: -15px 20px #0CADC0;
}

.home-gallery {
  margin: 0 auto;
  padding: 5% 0;
  background-color: #21404F;
}
.home-gallery .home-gallery-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home-gallery .home-gallery-container .home-gallery-image-container {
  padding: 0 1%;
  width: 32.3333333333%;
}
.home-gallery .home-gallery-container .home-gallery-image-container img {
  width: 100%;
}

.home-light-blue {
  background-color: #CCEDFB;
  margin: 0 auto;
  padding: 5% 0;
}
.home-light-blue .item {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.home-light-blue .item .home-font-awesome-container {
  width: 10%;
}
.home-light-blue .item .home-font-awesome-container i {
  width: 50px;
  height: 50px;
  background-color: #0CADC0;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}
.home-light-blue .item .home-about {
  width: 80%;
}
.home-light-blue .item .home-about h2 {
  margin-top: 0;
}
.home-light-blue .items-1-2,
.home-light-blue .items-3-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-discover {
  padding: 0;
  background-color: #21404F;
  display: block;
}
.home-discover .discover-top,
.home-discover .discover-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home-discover .discover-top .discover-image-container,
.home-discover .discover-top .discover-text-container,
.home-discover .discover-bottom .discover-image-container,
.home-discover .discover-bottom .discover-text-container {
  width: 50%;
}
.home-discover .discover-top .discover-image-container img,
.home-discover .discover-bottom .discover-image-container img {
  width: 100%;
}
.home-discover .discover-top .home-top-left,
.home-discover .discover-bottom .home-top-left {
  margin-bottom: 3%;
}
.home-discover .discover-top .home-top-left img,
.home-discover .discover-bottom .home-top-left img {
  margin-left: -10vw;
  margin-top: -2%;
  padding-left: 6%;
  -webkit-box-shadow: 20px 20px #0CADC0;
          box-shadow: 20px 20px #0CADC0;
}
.home-discover .discover-top .home-bottom-right,
.home-discover .discover-bottom .home-bottom-right {
  margin-top: 3%;
}
.home-discover .discover-top .home-bottom-right img,
.home-discover .discover-bottom .home-bottom-right img {
  margin-left: 7.5vw;
  margin-bottom: -1%;
  -webkit-box-shadow: -40px 40px 0 -20px #0CADC0;
          box-shadow: -40px 40px 0 -20px #0CADC0;
}
.home-discover .discover-top .home-top-right,
.home-discover .discover-bottom .home-top-right {
  margin-top: 7%;
  padding-left: 10%;
}
.home-discover .discover-top .home-bottom-left,
.home-discover .discover-bottom .home-bottom-left {
  margin-top: 3%;
  padding-right: 10%;
  text-align: right;
  -ms-flex-line-pack: right;
      align-content: right;
}
.home-discover .discover-top .home-bottom-left .buttons,
.home-discover .discover-bottom .home-bottom-left .buttons {
  margin-left: 77%;
}
.home-discover .discover-text-container .buttons {
  background-color: #CCEDFB;
  width: 22%;
  padding: 1%;
}

.home-banner {
  height: 75vh;
  background-image: url("../assets/banner.jpg");
  background-size: cover;
}

.home-search {
  background-color: #CCEDFB;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10% 0;
}
.home-search h2,
.home-search p,
.home-search a {
  text-align: center;
}
.home-search .a-button,
.home-search .buttons {
  background-color: #1A315C;
  width: 20%;
  margin: 0 auto;
  padding: 1% 0;
}

main .blog-left-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .blog-left-right .blog-left {
  width: 60%;
}
main .blog-left-right .blog-left .blog-main-image-container {
  border: 1px solid orange;
}
main .blog-left-right .blog-left .blog-main-image-container img {
  margin-left: -15.5%;
  margin-top: -15%;
  width: 115%;
  -webkit-box-shadow: 20px 20px #0CADC0;
          box-shadow: 20px 20px #0CADC0;
}
main .blog-left-right .blog-left .our-new-collection {
  background-color: #21404F;
  -webkit-box-shadow: 10px 10px #0CADC0;
          box-shadow: 10px 10px #0CADC0;
  padding: 5% 5% 5% 15%;
  margin-left: -20%;
  margin-top: -1%;
}
main .blog-left-right .blog-right {
  width: 20%;
  background-color: #21404F;
  position: absolute;
  right: 0%;
  top: 85%;
}
main .blog-left-right .blog-right .blog-aside-image-container img {
  width: 100%;
  padding-left: 4%;
  margin-top: -5%;
}
main .blog-left-right .blog-right .our-mission,
main .blog-left-right .blog-right .recent-posts {
  width: 75%;
  padding: 1% 0 1% 5%;
}
main .blog-left-right .blog-right .our-mission h4,
main .blog-left-right .blog-right .recent-posts h4 {
  margin-bottom: 0;
}
main .blog-left-right .blog-right .recent-posts ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 0;
}

.comments {
  padding: 5% 2%;
}
.comments .comment-1,
.comments .comment-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comments .comment-1 .comment-text,
.comments .comment-2 .comment-text {
  padding: 0 2%;
}
.comments .comment-1 .comment-text p,
.comments .comment-2 .comment-text p {
  padding: 0;
}
.comments .comment-1 .comment-image,
.comments .comment-2 .comment-image {
  padding-top: 2%;
}

.comment-form {
  margin: 5% 0;
}
.comment-form .blog-comment-top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comment-form input {
  width: 49%;
  border: none;
  border-bottom: 1px solid #0CADC0;
  margin-bottom: 2%;
  padding: 0 0 2% 2%;
}
.comment-form textarea {
  width: 100%;
  margin: 2% 0;
  padding: 2% 0 0 2%;
  border: 1px solid #0CADC0;
  resize: none;
}
.comment-form input,
.comment-form textarea {
  background-color: #CCEDFB;
}
.comment-form input:active,
.comment-form input:focus,
.comment-form textarea:active,
.comment-form textarea:focus {
  outline-style: none;
}
.comment-form button {
  margin: 1% 0;
  padding: 1% 0;
  width: 100%;
  background-color: #1A315C;
  cursor: pointer;
}

main {
  background-color: #CCEDFB;
}
main .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-container {
  width: 65%;
  margin: 5% 0 10% 0;
  margin-top: -15%;
  padding: 3%;
  background-color: #21404F;
  -webkit-box-shadow: 20px 20px #0CADC0;
          box-shadow: 20px 20px #0CADC0;
}
.form-container .contact-form-top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.form-container input,
.form-container textarea {
  background-color: #21404F;
  color: #FFFFFF;
  border: none;
}
.form-container input:active,
.form-container input:focus,
.form-container textarea:active,
.form-container textarea:focus {
  outline-style: none;
}
.form-container input {
  width: 48%;
  border-bottom: 1px solid #0CADC0;
  padding: 0 0 2% 2%;
}
.form-container textarea {
  width: 100%;
  margin: 5% 0;
  padding: 2% 0 0 2%;
  border: 1px solid #0CADC0;
}
.form-container button {
  width: 100%;
  background-color: #CCEDFB;
  padding: 1% 0;
  cursor: pointer;
}

.extra-info {
  padding-top: 2%;
  margin-bottom: 10%;
}
.extra-info .extra-info-top {
  margin-top: 10%;
  color: #1A315C;
}
.extra-info .extra-info-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.extra-info .extra-info-top ul li {
  font-size: 1.5rem;
  padding-right: 10%;
}
.extra-info .extra-info-top p {
  padding-left: 12%;
}
.extra-info .extra-info-bottom ul {
  margin-top: 15%;
}
.extra-info .extra-info-bottom ul li p {
  margin: 0;
}

@media (max-height: 850px) {
  .home-techniques {
    padding-top: 15%;
  }
}