html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Pacifico", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
  font-weight: normal;
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
  font-weight: normal;
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
  font-weight: bold;
}
.header-heading {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 3.4rem;
  line-height: 64px;
  color: #1A315C;
}

.home-heading {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 2.9rem;
  line-height: 64px;
  color: #1A315C;
}

.sub-heading {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 2.15rem;
  line-height: 58px;
  letter-spacing: 2.7px;
  color: #1A315C;
}

.comments-heading {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 4.3px;
}

.white-heading {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 2rem;
  line-height: 58px;
  letter-spacing: 2.5px;
}

.blog-side-headings {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 1.75rem;
  letter-spacing: 2.9px;
}

.logo {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 24px;
  letter-spacing: 1.7px;
  color: #1E1713;
}

.buttons {
  font-family: "Pacifico";
  font-weight: normal;
  font-size: 1.35rem;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1.4px;
  text-transform: lowercase;
}

.nav {
  font-family: "Lato";
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #1A315C;
}
.nav:visited {
  color: #1A315C;
}

.body-text {
  font-family: "Lato";
  font-weight: normal;
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 2px;
}

.date-text {
  font-family: "Lato";
  font-weight: bold;
  font-size: 1rem;
  line-height: 28px;
  letter-spacing: 2px;
}

.white-text {
  color: #FFFFFF;
}

.black-text {
  color: #1E1713;
}

.blue-text {
  color: #1A315C;
}

.light-blue-text {
  color: #CCEDFB;
}

html {
  font-size: 125%;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

header ul {
  list-style-type: none;
}
header ul li a {
  text-decoration: none;
}

footer p {
  color: #FFFFFF;
}

header {
  background-size: cover;
  width: 100%;
}
header.home-header {
  background-image: url("../assets/header-home.jpg");
  height: 100vh;
  background-size: cover;
}
header.home-header h1 {
  width: 35%;
}
header.contact-header {
  background-image: url("../assets/contact-header.jpg");
  height: 77vh;
}
header.blog-header {
  background-image: url("../assets/blog-header.jpg");
  height: 75vh;
}
header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}
header .nav-bar ul .nav:hover,
header .nav-bar ul .nav:focus {
  border-bottom: 2px solid #0CADC0;
}
header h1 {
  margin-top: 7%;
}

footer {
  background-color: #1E1713;
  padding: 1% 0;
  text-align: center;
}